@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Calculator";
}


<body>
    <h2>So you want to know your grade? Get ready to hate yourself:</h2>
    <form id="gradeCalc" style="margin-bottom:100px;">
        <input type="text" id="assignment" placeholder="Assignment percentage" />
        <input type="text" id="project" placeholder="Project percentage" />
        <input type="text" id="quiz" placeholder="Quiz percentage" />
        <input type="text" id="exam" placeholder="Exam percentage" />
        <input type="text" id="intex" placeholder="INTEX percentage" />
        <input type="button" id="submit" value="submit" />
    </form>
    <br /><br /><br />
    Lima beans are yummy<br>
    Lima beens are good<br>
    I eat these beans all the time<br>
    as everybody should<br>
</body>