@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Big Bean";
}

<!DOCTYPE html>
<html>

<body>
    <h1>Preferred Name: "The Smartest, Most Wise, Most Beautiful Entity In The Known Universe</h1>
    <img src="~/img/rainbow-rain.png" />
    <p><i>I don't like to do anything, so here is a cloud crying a rainbow</i></p>
    <p>From this class, I hope to get stellar answers to interview questions, along with a pony. What does a pony have to do with this? Well, I like to remain optimistic in life, and I have always wanted a pony. Specifically one with luscious black hair and breath that smells like jellybeans. Who is to say that I won't get this pony? Do you have the audacity to say I will not get this pony in this class? If you do, then you, sir, are no friend of mine, and I will fill your halloween candy with thumbtacks. Beware. For. I. Do. Not. FORGET.</p>
    <h2>Jobs I wish to pursue after graduating:</h2>
    <ul>
        <li>pony handler</li>
        <li>unicorn owner</li>
        <li>superman</li>
    </ul>


</body>
</html>